<% if flash[:notice] %>
<div class= "alert alert-info alert-dismissible" >
  <%= flash[:notice]  %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% end %>

<% if flash[:alert] %>
<div class= "alert alert-danger alert-dismissible" >
  <%= flash[:alert]  %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% end %>

<% if flash[:success] %>
<div class= "alert alert-success alert-dismissible" >
  <%= flash[:success]  %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% end %>